<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MarketDataAndOrderRoutingSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <MarketDataAndOrderRoutingSample.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>ShanghaiDAWAPI</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>TestOne</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>wss://demoapi.cqg.com:443</value>
            </setting>
            <setting name="LogonOnStart" serializeAs="String">
                <value>True</value>
            </setting>
        </MarketDataAndOrderRoutingSample.Properties.Settings>
    </userSettings>
</configuration>
